
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}
a, a:hover, a:focus, a:active{
    outline: none;
    text-decoration: none;
    color: #000000;
}
.container{
    position: relative;
}
.of-header .container{
    height: 67px;
}
.of-logo{
    position: absolute;
    top: 10px;
    left: 15px;
}
.of-iconmntop{
    display: none;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #b7b7b7;
    font-size: 25px;
    cursor: pointer;
}
.of-menutop{
    position: absolute;
    top: 0;
    right: 201px;
}
.of-menutop li{
    float: left;
}
.of-menutop li a{
    display: block;
    height: 67px;
    padding: 10px 13px 0;
    font-size: 12px;
    color: #211f1f;
    text-align: center;
}
.of-menutop li a i{
    display: block;
    margin: 0 auto;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
}
.of-menutop li a span{
    display: block;
    padding: 3px 0;
}
.of-menutop li a:hover{
    background-color: #f3f3f3;
}

.of-imobile{
    width: 15px;
    background-position: -3px 0;
}
.of-menutop li.active a .of-imobile,
.of-menutop li a:hover .of-imobile{
    background-position: -3px -32px;
}
.of-itablet{
    width: 31px;
    background-position: -20px 0;
}
.of-menutop li.active a .of-itablet,
.of-menutop li a:hover .of-itablet{
    background-position: -20px -32px;
}
.of-iapple{
    width: 21px;
    background-position: -53px 0;
}
.of-menutop li.active a .of-iapple,
.of-menutop li a:hover .of-iapple{
    background-position: -53px -32px;
}
.of-ilaptop{
    width: 39px;
    background-position: -76px 0;
}
.of-menutop li.active a .of-ilaptop,
.of-menutop li a:hover .of-ilaptop{
    background-position: -76px -32px;
}
.of-iswatch{
    width: 19px;
    background-position: -334px 0;
}
.of-menutop li.active a .of-iswatch,
.of-menutop li a:hover .of-iswatch{
    background-position: -334px -32px;
}
.of-ipkien{
    width: 29px;
    background-position: -117px 0;
}
.of-menutop li.active a .of-ipkien,
.of-menutop li a:hover .of-ipkien{
    background-position: -117px -32px;
}
.of-imdt{
    width: 17px;
    background-position: -359px 0;
}
.of-menutop li.active a .of-imdt,
.of-menutop li a:hover .of-imdt{
    background-position: -359px -32px;
}
.of-ixahang{
    width: 35px;
    background-position: -180px 0;
}
.of-menutop li.active a .of-ixahang,
.of-menutop li a:hover .of-ixahang{
    background-position: -180px -32px;
}
.of-itragop{
    width: 24px;
    background-position: -217px 0;
}
.of-menutop li.active a .of-itragop,
.of-menutop li a:hover .of-itragop{
    background-position: -217px -32px;
}
.of-ikmai{
    width: 32px;
    background-position: -243px 0;
}
.of-menutop li.active a .of-ikmai,
.of-menutop li a:hover .of-ikmai{
    background-position: -243px -32px;
}
.of-itinhay{
    width: 28px;
    background-position: -277px 0;
}
.of-menutop li.active a .of-itinhay,
.of-menutop li a:hover .of-itinhay{
    background-position: -277px -32px;
}
.of-isimthe{
    width: 19px;
    background-position: -411px 0;
}
.of-menutop li.active a .of-isimthe,
.of-menutop li a:hover .of-isimthe{
    background-position: -411px -32px;
}
.of-ihoidap{
    width: 24px;
    background-position: -380px 0;
}
.of-menutop li.active a .of-ihoidap,
.of-menutop li a:hover .of-ihoidap{
    background-position: -380px -32px;
}
.of-samsung{
    width: 94px;
    background-position: -437px 0;
}
.of-menutop li.active a .of-samsung,
.of-menutop li a:hover .of-samsung{
    background-position: -437px -30px;
}

.of-search{
    position: absolute;
    top: 0;
    right: 120px;
    height: 67px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 0;
    font-size:12px;
    color: #211f1f;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}
.of-search span{
    display: block;
    padding: 3px 0;
}
.of-isearch{
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
    background-position: -306px 0;
}
.of-search:hover {
    background-color: #f3f3f3;
}
.of-search:hover .of-isearch{
    background-position: -306px -32px;
}
.of-call{
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
.of-call span{
    font-size: 12px;
    color: #211f1f;
}
.of-call p{
    font-size: 16px;
    font-weight: bold;
    color: #c91010;
}
.of-searchbox{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}
.of-slogo {
    margin-top: 10px;
    width: 150px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.of-searchbar{
    height: 67px;
    background-color: #000000;
}
.of-ipsearch{
    padding-right: 80px;
    margin-top: 15px;
    margin-left: 200px;
}
.of-closesearch{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}
.of-closepop{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
}

.of-footer{
    padding: 30px 0;
    text-align: center;
    background-color: #efefef;
    color: #000000;
}
.of-footer-link{
    margin-bottom: 10px;
    font-weight: bold;
}
.of-footer-link a{
    font-weight: bold;
    padding: 0 5px;
    color: #000000;
}

/*MEDIA*/
@media (min-width: 1260px) {
    .container{
        width: 1230px;
    }
}
@media (max-width: 1260px) {
	.of-menutop li a { 
		padding: 10px 11px 0;
	}
}
@media (max-width: 1200px) {
    .of-logo {
        top: 16px;
        width: 120px;
    }
    .of-menutop {
        right: 182px;
    }
    .of-menutop li a{
        padding: 10px 5px 0;
    }
    .of-search{
        padding: 10px 5px 0;
    }
}
@media (max-width: 992px) {
    .of-header .container {
        height: 60px;
    }
    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }
    .of-menutop{
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }
    .of-menutop li{
        width: 20%;
    }
    .of-mnshow{
        display: block !important;
    }
    .of-call {
        top: 10px;
    }
    .of-search{
        top: 7px;
        border: none;
        height: auto;
    }
    .of-search:after{
        content: " ";
        height: 30px;
        width: 1px;
        background: #cecece;
        position: absolute;
        right: -5px;
        top: 10px;
        z-index: 9;
    }
    .of-search:hover{
        background: none;
    }
    .of-search span{
        display: none;
    }
    .of-iconmntop {
        display: block;
    }
}
@media (max-width: 768px) {
    .of-ipsearch {
        padding-right: 40px;
        margin-left: 170px;
    }
}
@media (max-width: 480px) {
    .of-slogo{
        display: none;
    }
    .of-ipsearch {
        margin-left: 0;
    }
    .of-probox-img,
    .of-probox-info{
        width: 100%;
        float: none;
        padding: 15px;
    }
    .of-probox-btn li a {
        width: 100px;
    }
    .of-probox-tso ul li span {
        width: auto;
        font-weight: bold;
    }
    .of-menutop li {
        width: 25%;
    }
}
@media (max-width: 350px) {
    .of-logo {
        top: 17px;
        width: 100px;
    }
    .of-menutop li {
        width: 33.33%;
    }
}


/*autocomplete search main*/
.asmr {
    width: 100%;
    position: absolute;
    top: 34px;
    z-index: 10;
}
.asmr ul {
    background: #FFF;
    margin: 0 119px 0 0;
}
.asmr li.active,
.asmr li:hover {
    background: #ececec;
}
.asmr a {
    display: block;
    overflow: hidden;
    padding: 5px;
}
.asmr a img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px 0 0;
}
.asmr a span {
    display: block;
    font-weight: bold;
}
.asmr a label {
    display: block;
    margin: 10px 0 0 0;
    color: #F00;
}
.resultAutoComplete-home {
    padding: 0;
    margin-right: 80px;
    z-index: 100;
    font-size: 13px;
}
.resultAutoComplete-home ul li:hover {
    background: #eaeaea;
}
.fshop-search-cate {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-cate li {
    padding: 5px;
    cursor: pointer;
}
.fshop-search-cate a {
    font-size: 13px;
    color: #d41212;
    padding: 3px 5px;
    display: block;
    text-transform: uppercase;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-cate a:before {
    content: "⟶";
}
.fshop-search-cate a:hover {
    padding-left: 15px;
}
.fshop-search-catehd {
    height: 30px;
    line-height: 20px;
    background-color: #efefef;
    text-overflow: clip;
    overflow: hidden;
}
.fshop-search-catehd strong {
    font-weight: bold;
    color: #d41212;
}
.fshop-search-prod {
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-top: 0;
    font-size: 13px;
}
.fshop-search-prod li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #EDEDED;
}
.fshop-search-prod li a {
    font-size: 13px;
    display: block;
}
.fshop-search-prod li:hover .fshop-search-prodimg {
    background: #FFFFFF;
}
.fshop-search-prod li:hover .fshop-search-prodinfo {
    padding-left: 15px;
}
.fshop-search-prodimg {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
}
.fshop-search-prodimg img {
    width: 40px;
    height: 40px;
}
.fshop-search-prodinfo {
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    padding: 0 10px;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.fshop-search-prodprice {
    color: #d41212;
    font-weight: bold;
} 
.fshop-search-prodname {
    max-height: 30px;
    text-overflow: clip;
    overflow: hidden;
}
@media(max-width: 768px){
    .asmr ul {
        margin: 0 79px 0 0;
    }
}
.menu{
    height: 53px;
    background: black;
}
.menu_t {
    float: right;
    text-align: right;
}
.menu_top{
    display: inline-block;
}
.btn_ar{
    display: inline-block;
    width: 153px;
    height: 38px;
    border-radius: 8.4px;
    background-color: #3a6669;
    font-family: Roboto;
    font-size: 18.8px;
    margin-left: 40px;
    text-align: center;
    color: #ffffff;
}
.btn_dc{
    width: 252px;
    height: 58px;
    border-radius: 13px;
    background-color: #3a6669;
    font-family: Roboto;
    font-size: 29px;
    text-align: center;
    color: #ffffff;
}
.menu_top li{
    padding-top: 11px;
    padding-left: 60px;
    display: inline-block;
}
.menu_top li a{
    color: white;
    height: 23px;
    font-family: Roboto;
    font-size: 19px;
    letter-spacing: 0.79px;
}
.fixed{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.ff0{
    background: url('../images/s1n.png')no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 0 71px;
}
.ff0_1{
    padding-top: 5px;
    text-align: center;
}
.ff0_12{
    padding: 13px 0;
    font-family: Roboto;
    font-size: 30.2px;
    letter-spacing: 1.26px;
    text-align: center;
    color: #3c6669;
}
.ff0_12 span{
    font-weight: bold;
}
.ff0_2{
    text-align: center;
}
.btn_ar:hover,.btn_ar:focus,.btn_sec:hover,.btn_sec:focus,.btn_dc:hover,.btn_dc:focus{
    color: #fff;
}
.ff0_14{
    font-family: Roboto;
    font-size: 19.2px;
    text-align: center;
    color: #3a6669;
    padding: 17px 0 19px;
}
.ff0_14 span{
    font-weight: bold;
}
.ff1{
    background: url('../images/s2n.png')no-repeat;
    background-position: center;
    background-size: cover;
    padding: 142px 85px;
}
.ff1_1{
    text-align: center;
}
.ff3{
    padding: 28px 0 0 0;
}
.ff3_1{
    margin: 0 auto;
    letter-spacing: 1px;
    color: var(--black);
    max-width: 520px;

}
.ff3_11{
    font-size: 45px;
    font-family: 'Roboto Light', arial;
}
.ff3_12{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 9px 0;
}
.ff3_13{
    font-family: 'Roboto';
    font-size: 23px;
    padding-bottom: 20px;
}
.ff4{
    background: url('../images/s4n.png')no-repeat;
    background-position: center;
    background-size: cover;
    padding: 34px 0 0;
}
.ff4_1{
    max-width: 630px;
    color: #FFFFFF;
    padding-top: 86px;
}
.ff5{
    padding: 46px 0 0 0;
}
.ff4 .ff3_12{
    padding-bottom: 29px;
}
.ff4 .ff3_13{
    line-height: 33px;
}
.ff5_1{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.ff5_11{
    font-size: 45px;
    font-family: 'Roboto Light', arial;
    padding-bottom: 30px;
}
.ff5_12{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 0px 0 25px;
}
.ff5_13{
    font-family: 'Roboto';
    line-height: 33px;
    font-size: 23px;
    padding-bottom: 20px;
}
.ff5_2{
    text-align: center;
}
.ff6{
    background-color: #f7f7f7;
    padding: 36px 0 0;
}
.ff6_2{
    text-align: right;
    padding-top: 40px;
}
.ff7{
    background-color: #f7f7f7;
    padding: 36px 0 29px;
}
.ff7_2{
    text-align: center;
}
.ff8{
    padding: 36px 0 0 0;
}
.ff8_1{
    text-align: center;
}
.ff8_2 img{
    width: 100%;
    height: 600px;
}
span.of-slprev { 
    top: 44%;
    left: 30%;
}
span.of-slnext, span.of-slprev{
    background: white;
    text-align: center;
    border-radius: 50%;
    width: 54px;
    z-index: 99999;
    color: #8b8b8b;
    height: 54px;
    position: absolute;
    font-size: 38px;
}
span.of-slnext {
    top: 44%;
    left: 67%;
    
}
.ff9{
    padding: 59px 0 45px;
}
.ff9_22{
    font-size: 50px;
    font-family: roboto;
    padding-top: 15px;
    padding-bottom: 23px;
}
.ff9_23 .table>tbody>tr>td{
    border-top: none;
    padding-bottom:10px;
}
.ff9_23{
    padding-left: 20px;
    font-size: 25px;
    font-family: roboto;
}
.ff9_23 .table>tbody>tr>td:first-child{
    width: 226px;
    font-weight:600;
}
.ff9_24{
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
}

.ff9_24tt span{
    font-weight: bold;
}
.ff10{
    padding: 0 0 60px;
}
.ff10_1 img{
    width: 100%;
}
.btn_sec{
    margin-top: 30px;
    width: 252px;
    font-size: 29px;
    height: 58px;
    color: #FFF;
    border-radius: 13px;
    background-color: #3a6669;
}
.ff10_11{
    padding: 15px 0 14px;
    max-width: 300px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    color: black;
    overflow: hidden; 
    white-space: nowrap;
    -webkit-line-clamp:2;
}
.date{
    font-family: Roboto;
    font-size: 15px;
    color: #a2a2a2;
}

.p1-s4search .form-control {
    padding-left: 30px;
}
.p1-s4search {
    width: 300px;
    position: relative;
}
.p1-s4tit {
    font-size: 24px;
    color: #292929;
    margin-bottom: 15px;
}
.p1-s4tit strong {
    color: #00a3e7;
    font-weight: bold;
}

.p1-s4search span{
    position: absolute;
    top: 9px;
    left: 3%;
    color: #999;
}
.p1-s4table thead tr td {
    background: #3c6669;
    color: #ffffff;
    font-weight: normal;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.p1-s4table {
    padding-top: 15px;
    max-height: 450px;
    overflow: auto;
    margin-bottom: 15px;
}
.p1-s4table tbody tr td {
    color: #909090;
}

.p1-s4table tbody tr td:nth-child(2) {
    font-weight: bold;
    color: #3c6669;;
}
.p1-s4tdmore {
    text-align: center;
    margin-bottom: 40px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.p1-s4tdmore .btn {
    min-width: 150px;
}
.p1-s4tit {
    font-size: 24px;
    color: #292929;
    margin-bottom: 20px;
}
.p2-s4tt{
    padding:20px 0 10px;
}
.p1-s4ttle{
    border-radius: 15px;
    line-height: 24px;
    border: 1px solid #cccc;
    padding: 28px 9px 36px 24px;
    max-height: 484px;
    overflow: auto;
}
.p1-s4ttle ul{
    max-width: 450px;
    margin: 0 auto;
}
.oppo{
    display: inline-block;
    padding-top: 7px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}
.ff9_25{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.89px;
    text-align: center;
    color: var(--black);
}

@media(max-width:1700px){
    span.of-slnext {
        left: 66.5%;
    }
    span.of-slprev {
        top: 44%;
        left: 29.5%;
    }
}
@media(max-width:1400px){
    .ff3_22{
        height: 342px;
    }
    .ff3_22 img{
        height: 100%;
    }
}
@media(max-width: 1200px){
    .menu_top li{
        padding-left: 30px;
    }
    .btn_ar{
        margin-left: 10px;
    }
    .ff8_2 img{
        height: 473px;
    }
    span.of-slnext {
        left: 65.5%;
    }
    .ff9_23 .table>tbody>tr>td:first-child {
        width: 199px;
    }
    .ff9_22 {
        font-size: 42px;
    }
}

@media(max-width: 1260px){
    .ff3_22{
        height: 260px;
    }
    .ff3_22 img{
        height: 100%;
    }
}
@media(min-width:993px){
    .oppo{
        display: none;
    }
}
@media(max-width: 992px){
    .menu_top{
        display: none;
    }
    .menu {
        height: 78px;
    }
    .btn_ar{
        width: 217.4px;
        height: 51px;
        margin-top: 15px;
        border-radius: 10.2px;
        font-size: 22.7px;
        padding: 10px 12px;
    }
    span.of-slnext {
        left: 64.5%;
    }
}
@media(min-width:992px){
    .ff3_23,.ff6_3,.ff9_25{
        display: none;
    }
}
@media(max-width:991px){
    .ff3_21,.ff6_2,.ff9_22{
        display: none;
    }
    .ff0_12 {
        padding: 18px 0 25px;
        font-size: 36px;
    }
    .ff0_14 {
        padding: 14px 0 35px;
        font-size: 25px;
    }
    .ff0_2{
        padding-top: 73px;
    }
    .ff0{
        padding: 36px 0 112px;
    }
    .btn_dc {
        width: 319px;
        height: 70px;
        font-size: 38px;
    }
    .ff3_12 {
        padding: 4px 0;
    }
    .ff3_13 {
        font-size: 19px;
        padding-bottom: 28px;
    }
    .ff3_11 {
        font-size: 40px;
    }
    .ff3_22{
        height: auto;
        text-align: center;
        padding-bottom: 43px;
    }
    .ff3_1 {
        max-width: 443px;
    }
    .ff4_1 {
        max-width: 550px;
        color: #FFFFFF;
        margin: 0 auto;
        padding-top: 0px;
    }
    .ff4 {
        padding: 48px 0 0;
    }
    .ff5_11 {
        padding-bottom: 11px;
    }
    .ff4_2{
        text-align: center;
    }
    .ff5_13 {
        font-size: 24px;
    }
    .ff5 {
        padding: 26px 0 0 0;
    }
    .ff4_2{
        padding-top: 33px;
    }
    .ff66{
        padding: 47px 0 0 0;
    }
    .ff6_3{
        text-align: right;
        padding-top: 33px;
    }
    .ff8_2{
        padding-top: 30px;
    }
    .ff9_1{
        text-align: center;
        padding: 11px 0 22px;
    }
    .ff9_23 .table>tbody>tr>td:first-child {
        width: 242px;
    }
    .ff9_2{
        max-width: 586px;
        margin: 0 auto;
    }
    .ff9_23 .table>tbody>tr>td {
        padding-bottom: 30px;
    }
    .btn_sec{
        width: 290px;
        height: 64px;
        font-size: 34px;
    }
    .p1-s4tit {
        padding-top: 29px;
    }
    .ff3_22 img{
        height: auto;
    }
}
@media(max-width:768px){
    .ff8_2 img {
        height: 325px;
    }
    span.of-slprev {
        left: 27.5%;
    }
    .ff4_1{
        text-align: center;
    }
}
@media(max-width:550px){
    span.of-slprev {
        left: 24.5%;
    }
    .ff8_2 img {
        height: 265px;
    }
    span.of-slnext, span.of-slprev{
        width: 35px;
        height: 35px;
        font-size: 25px;
    }
    span.of-slnext {
        left: 67.5%;
    }
    .ff5_11 {
        font-size: 32px;
    }
    .ff9_23 .table>tbody>tr>td:first-child {
        width: auto;
    }
    .ff9_23{
        display: none;
    }
}
@media(max-width:462px){
    .oppo {
        padding-top: 20px;
        font-size: 27px;
    }
    .btn_ar {
        width: 154.4px;
        font-size: 19.7px;
    }
    .btn_dc {
        width: 289px;
    }
    
}